<p>@Dylan Qin</p>

<ol class="breadcrumb">
  <li><%= link_to 'Home', crawler_courses_path %></li>
  <li><%= link_to @subject.category.course.code, crawler_course_path(@subject.category.course.id) %></li>
  <li><%= link_to @subject.category.name, crawler_category_path(@subject.category.id) %></li>
  <li class="active">Q & A (<%= @subject.name %>)</li>
</ol>

<h2>Question and Answer (Post # <%= @subject.post %> )</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Answered By</th>
      <th>Date Answered</th>
      <th>Date Posted</th>
      <th>Category</th>
      <th>Subject</th>      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @qna.answered_by %></td>
      <td><%= @qna.date_answered %></td>
      <td><%= @qna.date_post %></td>
      <td><%= @qna.subject.category.name %></td>
      <td><%= @qna.subject.name %></td>            
    </tr>
  </tbody>
</table>

<hr/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question</h3>
  </div>
  <div class="panel-body">
    <%= @qna.question %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Answer</h3>
  </div>
  <div class="panel-body">
    <%= @qna.answer %>
  </div>
</div>

<hr/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question Translation</h3>
  </div>
  <div class="panel-body">
    <%= @qnaadd.question %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question Translation Edit</h3>
  </div>
  <div class="panel-body">
    <%= form_for :question_translate, url: crawler_translate_path(@qnaadd.id) do |f| %>
        <div>
          <%= f.text_area :text, class: 'form-control', size: "60x6"%>
        </div>
        <br/>
        <div class="pull-right">
          <%= f.submit "Confirm", class: 'btn btn-primary btn-sm'%>
        </div>
    <% end %> 
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Answer Translation</h3>
  </div>
  <div class="panel-body">
    <%= @qnaadd.answer %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Answer Translation Edit</h3>
  </div>
  <div class="panel-body">
    <%= form_for :answer_translate, url: crawler_translate_path(@qnaadd.id) do |f| %>
        <div>
          <%= f.text_area :text, class: 'form-control', size: "60x6" %>
        </div>
        <br/>
        <div class="pull-right">
          <%= f.submit "Confirm", class: 'btn btn-primary btn-sm'%>
        </div>
    <% end %> 
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags</h3>
  </div>
  <div class="panel-body">
    <%= @qnaadd.tag %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags Edit</h3>
  </div>
  <div class="panel-body">
    <%= form_for :tags, url: crawler_translate_path(@qnaadd.id) do |f| %>
        <div>
          <%= f.text_area :text, class: 'form-control'%>
        </div>
        <br/>
        <div class="pull-right">
          <%= f.submit "Confirm", class: 'btn btn-primary btn-sm', size: "60x1"%>
        </div>
    <% end %> 
  </div>
</div>

<!--
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  
