<ol class="breadcrumb">
  <li><%= link_to 'Home', crawler_courses_path %></li>
  <li><%= link_to @subject.category.course.code, crawler_course_path(@subject.category.course.id) %></li>
  <li><%= link_to @subject.category.name, crawler_category_path(@subject.category.id) %></li>
  <li class="active">Q & A (<%= @subject.name %>)</li>
</ol>

<h2>Question and Answer (Post # <%= @subject.post %> )</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Answered By</th>
      <th>Date Answered</th>
      <th>Date Posted</th>
      <th>Category</th>
      <th>Subject</th>      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @qna.answered_by %></td>
      <td><%= @qna.date_answered %></td>
      <td><%= @qna.date_post %></td>
      <td><%= @qna.subject.category.name %></td>
      <td><%= @qna.subject.name %></td>            
    </tr>
  </tbody>
</table>

<hr/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question</h3>
  </div>
  <div class="panel-body">
    <%= @qna.question %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Answer</h3>
  </div>
  <div class="panel-body">
    <%= @qna.answer %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question Translation</h3>
  </div>
  <div class="panel-body">
    <%= @qnaadd.question %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Answer Translation</h3>
  </div>
  <div class="panel-body">
    <%= @qnaadd.answer %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags</h3>
  </div>
  <div class="panel-body">
    <%= @qnaadd.tag %>
  </div>
</div>

<hr/>

<h2>Edit Area</h2>

  <!-- question edit -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingQ">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeQ" aria-expanded="false" aria-controls="collapseQ">
          Edit Question Translation
        </a>
      </h4>
    </div>
    <div id="collapseeQ" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQ">
      <div class="panel-body">

        <!-- COLLAPSE BODY -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Question Translation</h3>
          </div>
          <div class="panel-body">
            <%= @qnaadd.question %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Question Translation Edit</h3>
          </div>
          <div class="panel-body">
            <%= form_for :question_translate, url: crawler_translate_path(@qnaadd.id) do |f| %>
                <div>
                  <%= f.text_area :text, class: 'form-control', size: "60x6"%>
                </div>
                <br/>
                <div class="pull-right">
                  <%= f.submit "Confirm", class: 'btn btn-primary btn-sm'%>
                </div>
            <% end %> 
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- answer edit -->
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingA">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseA" aria-expanded="false" aria-controls="collapseA">
            Edit Answer Translation
          </a>
        </h4>
      </div>
      <div id="collapseA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingA">
        <div class="panel-body">
          <!-- COLLAPSE BODY -->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Answer Translation</h3>
            </div>
            <div class="panel-body">
              <%= @qnaadd.answer %>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Answer Translation Edit</h3>
            </div>
            <div class="panel-body">
              <%= form_for :answer_translate, url: crawler_translate_path(@qnaadd.id) do |f| %>
                  <div>
                    <%= f.text_area :text, class: 'form-control', size: "60x6" %>
                  </div>
                  <br/>
                  <div class="pull-right">
                    <%= f.submit "Confirm", class: 'btn btn-primary btn-sm'%>
                  </div>
              <% end %> 
            </div>
          </div>

        </div>
    </div>
  </div>

  <!-- tag edit -->
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingT">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseT" aria-expanded="false" aria-controls="collapseT">
            Edit Tags
          </a>
        </h4>
      </div>
      <div id="collapseT" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingT">
        <div class="panel-body">
          <!-- COLLAPSE BODY -->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tags</h3>
            </div>
            <div class="panel-body">
              <%= @qnaadd.tag %>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tags Edit</h3>
            </div>
            <div class="panel-body">
              <%= form_for :tags, url: crawler_translate_path(@qnaadd.id) do |f| %>
                  <div>
                    <%= f.text_area :text, class: 'form-control'%>
                  </div>
                  <br/>
                  <div class="pull-right">
                    <%= f.submit "Confirm", class: 'btn btn-primary btn-sm', size: "60x1"%>
                  </div>
              <% end %> 
            </div>
          </div>

        </div>
    </div>
  </div>

